<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1 class="text-center">{{title}}</h1>
            <form action="/loginuser" method="POST" class="text-center">
                username <input type="text" name="username" class="form-control">
                password <input type="password" name="password" class="form-control">
                <br>
                <button type="submit" class="btn btn-outline-success">LogIn</button>
            </form>
        </div>
    </div>
</div>